* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh; /* Memenuhi 100% ketinggian skrin */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Video akan 'crop' secara automatik untuk penuhi ruang */
    z-index: -2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.63); /* Lapisan hitam 40% lutsinar */
    z-index: -1;
}

.content {
    text-align:center ;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content h1 {
    font-size: clamp(2rem, 8vw, 5rem); /* Saiz font responsif */
    letter-spacing: 8px;
    font-weight: 300;
    margin-bottom: 10px;
}

.content p {
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-bottom: 30px;
    opacity: 0.8;
}

.btn {
    padding: 12px 40px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

.btn:hover {
    background: rgb(244, 244, 244);
    color: black;
}
img{
    margin-bottom : 10px;
}
